# --- Frontend & UI ---
streamlit
segno

# --- Data & Math ---
numpy>=1.24.0,<2.0.0
pandas>=2.0.0
scikit-learn==1.3.2
scipy

# --- Face Detection & Recognition ---
insightface==0.7.3
onnxruntime==1.15.1
opencv-python-headless==4.8.1.78

# --- Backend & Auth ---
supabase==2.9.0
bcrypt

# --- Audio / Voice ---
librosa
resemblyzer
soundfile
numba
llvmlite

# --- Image Processing ---
pillow

# --- Compatibility Fix ---
protobuf==3.20.3
