streamlit

numpy==1.26.4
scipy==1.11.4
pandas==2.1.4

opencv-python-headless==4.8.1.78

onnxruntime==1.16.3
insightface==0.7.3

librosa==0.10.1
soundfile
numba
llvmlite

resemblyzer==0.1.4

supabase
bcrypt
pillow
segno

protobuf<5
